<%= form_for(member) do |f| %>
  <%= render "shared/error_messages", object: member %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
    </div>
  </div>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ip_address %>
    <%= f.text_field :ip_address %>
  </div>

  <div class="field">
    <%= f.label :host_name %>
    <%= f.text_field :host_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
